.toolchains/
.scaffold/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.idea/
.metadata
.packages
.cxx/
build/
cmake-build-*/
debug/
release/
artifacts/
*.apk
*.aab
*.iml
*.log
*.orig
*.jks
*.keystore
key.properties
app/benchmark_app/android/.gradle/
app/benchmark_app/android/local.properties
